[program:{{ ((item.project ~ '_') if item.project is defined else '') ~ item.name }}]
command=php bin/console {{ item.command }}

{% if item.directory is defined or item.project is defined %}directory={{ item.directory|default('/srv/' ~ item.project ~ '/symfony' ~ ('/current' if (elao_env == 'prod') else '')) }}{% endif %}

{% if item.numprocs|default(1) > 1 %}process_name=%(process_num)02d{% endif %}

autostart=true
autorestart=true
startretries=20
numprocs={{ item.numprocs|default(1) }}
stdout_logfile=/var/log/{{ ((item.project ~ '_') if item.project is defined else '') ~ item.name }}.log
redirect_stderr=true
{% if elao_env == 'prod' %}environment=SYMFONY_ENV="prod"{% endif %}
