[program:{{ ((item.value['project'] ~ '_') if item.value['project'] is defined) ~ item.key }}]
command=node {{ item.value['path'] }}

{% if item.value['directory'] is defined or item.value['project'] is defined %}directory={{ item.value['directory']|default('/srv/' ~ item.value['project']) }}{% endif %}

{% if item.value['numprocs']|default(1) > 1 %}process_name=%(process_num)02d{% endif %}

autostart=true
autorestart=true
startretries=20
numprocs={{ item.value['numprocs']|default(1) }}
stdout_logfile=/var/log/{{ ((item.value['project'] ~ '_') if item.value['project'] is defined) ~ item.key }}.log
redirect_stderr=true
