[program:{{ item.key }}]
command=node {{ item.value['path'] }}
{% if item.value['directory']|default('') %}directory={{ item.value['directory'] }}{% endif %}

{% if item.value['numprocs']|default(1) > 1 %}process_name=%(process_num)02d{% endif %}

autostart=true
autorestart=true
startretries=20
numprocs={{ item.value['numprocs']|default(1) }}
stdout_logfile=/var/log/{{ item.key }}.log
redirect_stderr=true
