[program:{{ ((item.project ~ '_') if item.project is defined else '') ~ item.name }}]
command=node {{ item.command }}

{% if item.directory is defined or item.project is defined %}directory={{ item.directory|default('/srv/' ~ item.project) }}{% endif %}

{% if item.numprocs|default(1) > 1 %}process_name=%(process_num)02d{% endif %}

autostart=true
autorestart=true
startretries=20
numprocs={{ item.numprocs|default(1) }}
stdout_logfile=/var/log/{{ ((item.project ~ '_') if item.project is defined else '') ~ item.name }}.log
redirect_stderr=true
